a {
  color: #fb8c00;
  text-decoration: none;
}

a:hover {
  color: #ffbd45;
}

.Navigate {
  float: right;
  margin: auto;
  margin-top: 15px;
  width: 280px;
}

.Navigate button {
  color: #fb8c00;
  background-color: #707070;
  width: 110px;
  transition: 0.5s;
}

.Navigate button:hover {
  background-color: lightgrey;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: 3%;
}

.login, .dashboard {
  border-left: 2px solid white;
  padding-left: 3%;
}