a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.Navigate {
  float: right;
  margin: auto;
  margin-top: 30px;
  width: 220px;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: 3%;
}

.login, .dashboard {
  border-left: 2px solid white;
  padding-left: 3%;
}