.hidden {
  display: none;
}

.form {
  color: #707070;
  margin-top: 80px;
}

button {
  margin-left: 2%;
  font-size: 16px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

button:hover {
  background-color: #cfcfcf;
  transition: 0.5s;
}

select {
  height: 30px;
  font-size: 16px;
  background-color: white;
  border: 1px solid lightgrey;
}

select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

.projectType {
  margin-left: 2%;
}

.projectType-select {
  margin-left: 1%;
}

.toolType {
  margin-left: 2%;
}

.toolType-select {
  margin-left: 1%;
}

.location-select {
  margin-left: 10px;
}