.tool-image {
  width: 10%;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
}

.tool-name {
  display: inline-block;
  margin-right: 2%;
}

.tool-quality {
  display: inline-block;
  margin-right: 2%;
}

.tool-price {
  display: inline-block;
  margin-right: 2%;
}

.tool-description {
  display: inline-block;
  margin-right: 2%;
}

.tool-button {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1%;
}